
#page {

    background-color: rgba(128, 128, 128, 0.2);
}

#title {
    display: block;
    text-align: center;
    padding-top: 15px;
    font-family: Radio Canada;
    font-size: 40px;
    color: #333333;
}

#img-div {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    padding: 0px 0px 15px 0px;
}

#tribute-info {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 20px 1fr;
}

#tribute-info section {
    grid-area: 2/2/3/3;
}

#tribute-info span {
    grid-area: 1/2/2/3;
    justify-self: center;
    font-family: Radio Canada;
    font-size: 20px;  
    font-weight: bolder;
}

#tribute-info section ul li {
    margin: 20px 0px 20px 0px;
    letter-spacing: 0.8px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
}

#footer {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: bolder;
    font-family: sans-serif;
}